[submodule "yupana"]
	path = yupana
	url = git@github.com:madfish-solutions/yupana-protocol-core.git
	branch = v0.3.4
[submodule "wTez"]
	path = wTez
	url = git@github.com:madfish-solutions/wTEZ-fa2.git
	branch = v1.0.1
[submodule "priceFeed"]
	path = price_feed
	url = git@github.com:madfish-solutions/yapfy.git
	branch = v0.1.2
