# Example of all variables
# that can be set in this file.
# ------------------------------
# If variable not set,
#    contract will be deployed from config params
#    and set to variable.
# Else
#    contract address from variable will be used
#    as existing pre-setted contract.

# Tokens addresses
WTEZ_TOKEN_ADDRESS="KT1..."
KUSD_TOKEN_ADDRESS="KT1..."
CTEZ_TOKEN_ADDRESS="KT1..."
TZBTC_TOKEN_ADDRESS="KT1..."
YOUVES_TOKEN_ADDRESS="KT1..."
# Yupana core address
YUPANA_ADDRESS="KT1..."
# Oracles addresses
HARBINGER_ADDRESS="KT1..."
UBINETIC_ADDRESS="KT1..."
UBINETIC_LEGACY_ADDRESS="KT1..."
CTEZ_ORACLE_ADDRESS="KT1..."
# Price Feed contract address
PRICE_FEED_ADDRESS="KT1..."
# InterestRate contracts addresses
WTEZ_IR_ADDRESS="KT1..."
KUSD_IR_ADDRESS="KT1..."
CTEZ_IR_ADDRESS="KT1..."
TZBTC_IR_ADDRESS="KT1..."
UDEFI_IR_ADDRESS="KT1..."
UUSD_IR_ADDRESS="KT1..."
UBTC_IR_ADDRESS="KT1..."
